<html>
    <head></head>
    <body>
        <form action="/api/create-student" method="POST">
            <input type="text" name="name" id="name" placeholder="Enter Name" required>
            <input type="email" name="email" id="email" placeholder="Enter Email" required>
            <input type="text" name="programme" id="programme" placeholder="Enter programme" required>
            <input type="text" name="rollno" id="rollno" placeholder="Enter rollno" required>
            <input type="text" name="department" id="department" placeholder="Enter Department" required>
            <label for="student">student</label>
            <input type="radio" name="type" id="student" value="student">
            <label for="teacher">teacher</label>
            <input type="radio" name="type" id="teacher" value="teacher">
            <input type="text" name="password" id="password" placeholder="Enter Password" required>
            <input type="text" name="confirm_password" id="confirm-password" placeholder="Enter Password Again" required>
            <button type="submit">Create Student</button>
        </form>
    </body>
</html>