<html>
    <head></head>
    <body>
        registraion
        <form action="/student/form/608a6d58a12ff4471885ed9f" method="post"
         enctype="multipart/form-data" >
         <input type="text" name="name" placeholder="name">
         <input type="text" name="email" placeholder="email">
         <input type="text" name="department" placeholder="department">
         <input type="number" name="semester" placeholder="semester">
        <input type="file" name="registrationForm" id="registrationForm">
        <button type="submit">Register</button>
     
    </body>
</html>