<div>
    <p>
        Dear Student,
    </p>
    <p>Your ,<strong>Registration form for semester <%= form.semester %></strong> has been submitted successfully for verification!!</p>

    <p>form link: <%= form.file %></p>
    <br>
    <p>.......................................................................................</p>
    <p>Thanks and Regards</p>
    <p>Student Registration Portal</p>
</div>